{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es5",
    "loose": false,
    "externalHelpers": false
    // "minify": {
    //   "compress": true,
    //   "mangle": true
    // }
  }
}